<h1>New Division</h1>

<form action="/wizard_divide">
  <label>Divide this:</label>
  <input type="text" name="first_num">

  <label>by this:</label>
  <input type="text" name="second_num">

  <button>Divide!</button>
</form>
