<h1>Addition Results</h1>

<dl>
  <dt>First number:</dt>
  <dd><%= @first_number %></dd>

  <dt>Second number:</dt>
  <dd><%= @second_number %></dd>

  <dt>Result:</dt>
  <dd><%= @result %></dd>
</dl>

<a href="/add">Try another addition</a>
